*{
    background: #DBE9EE;
    font-family: Helvetica;
}

#about{
    margin-top: -20px;
    font-size: 20px;
    text-align: center;
}

#about p{
    width: 900px;
    margin: auto;
    line-height: 20pt;
}

#profile-picture{
    width: 175px;
    height: auto;
    padding-right: 15px;
    float: left;
}

#school{
    font-size: 20px;
    margin-top: -10px;
}

#email{
    font-size: 20px;
    margin-top: -10px;
}

.page-title{
    font-size: 55px;
}
