*{
    background: #DBE9EE;
    font-family: Helvetica;
}

#grad{
    width: 175px;
    height: auto;
    padding-right: 15px;
    float: left;
}

#school{
    font-size: 20px;
    margin-top: -10px;
}

#email{
    font-size: 20px;
    margin-top: -10px;
}

.bio p{
    font-size: 20px;
    width: 750px;
}

.skills p{
    font-size: 20px;
}

.courses ul{
    margin-top: -5px;
    padding-left: 20px;
    font-size: 20px;
}

.projects h3{
    margin-left: 1em;
}

.projects ul{
    margin-top: -10px;
    font-size: 20px;
}

.projects a{
    color: black;
}

